body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

h1 {
    color: hsl(300, 100%, 25%);
    font-size: larger;
}

ul {
    color: brown;
    font-size: smaller;
}

